fun.fengwk.automapper.annotation.AutoMapper.dbType=${auto-mapper.db-type}
fun.fengwk.automapper.annotation.AutoMapper.mapperSuffix=Mapper
fun.fengwk.automapper.annotation.AutoMapper.tableNamingStyle=LOWER_UNDER_SCORE_CASE
fun.fengwk.automapper.annotation.AutoMapper.fieldNamingStyle=LOWER_UNDER_SCORE_CASE
fun.fengwk.automapper.annotation.AutoMapper.tableNamePrefix=
fun.fengwk.automapper.annotation.AutoMapper.tableNameSuffix=
